* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", seriff;
}

body {
  background: #f4f4f4;
  padding: 20px;
}

header {
  width: 100%;
  padding: 20px 0;
  text-align: center;
  font-size: 1rem;
  color: white;
  background: #120e0d;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

header span {
  font-size: 2.5rem;
  font-weight: 500;
  padding: 10px;
}

section {
  margin-top: 20px;
  padding: 10px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  padding: 15px;
}

p {
  margin-top: 5px;
  font-size: 1.1rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: 600;
}

.slogan {
  font-size: 2rem;
  font-weight: 800;
  text-align: center;
  padding: 20px;
  padding-top: 0px;
}

.banner {
  width: 100%;
  height: auto;
  max-width: 700px;
  align-self: center;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.7);
}

.div-section {
  margin-top: 10px;
  max-width: 700px;
  width: 100%;
  display: flex;
  flex-direction: column;
}

.div-section span {
  font-weight: 600;
  font-size: 1.1rem;
}

.features-list {
  margin-top: 20px;
}

.features-list > li {
  margin-top: 10px;
}

.services-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-auto-flow: dense;
  grid-gap: 5px;
}

.services-container > div {
  font-size: 30px;
  padding: 0.5em;
  text-align: center;
}
.services-container > div > img {
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  height: auto;
  width: 100%;
}

.icon-container {
  margin-top: 10px;
}

.icon {
  padding-right: 10px;
}

footer {
  margin-top: 20px;
  background: #120e0d;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  color: white;
  font-size: 1rem;
}

@media screen and (max-width: 992px) {
  body {
    padding: 20px;
  }
  .features-list {
    padding: 10px;
  }
}

@media screen and (max-width: 600px) {
  body {
    padding: 15px;
  }
  .services-container {
    grid-template-columns: 1fr;
  }
  .features-list {
    padding: 10px;
  }
  h3{
    font-size: 1.4rem;
  }
  p{
    font-size: 1.1rem;
  }
}
